<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Ejemplo: nivel DEBUG solo para tu código -->
    <logger name="org.models" level="DEBUG"/>
    <logger name="org.simulation" level="INFO"/>
</configuration>